<footer class="website flex flex-col justify-center bg-white bottom-0 max-w-5xl m-auto text-gray-900 border-t
               border-gray-200 shadow-xs">
  <div class="text-center p-6">
    <a class="text-gray-900 font-semibold" href="<%= root_path %>">AppName</a>
    <span>© <%= Time.now.strftime("%Y") %> </span>
  </div>
</footer>